<!-- New Task Form
<form class="new-task-form" [formGroup]="form" (ngSubmit)=addTask()>
    <mat-form-field>
        <mat-label>Libellé</mat-label>
        <input matInput placeholder="Ex: Sortir le chien" formControlName="label">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-button">
        Créer
    </button>
</form> -->