<div class="body">
	<mat-card class="card">
		<button mat-mini-fab color="primary" class="add-task-button" (click)="openDialog()">
			<mat-icon>
				add
			</mat-icon>
		</button>

		<!-- Task List -->
		<div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)">
			<div class="task-box" *ngFor="let task of filteredTasks" cdkDrag>
				{{ task.label }}
				<button mat-icon-button class="edit-button" (click)="openDialog(task)">
					<mat-icon>
						create
					</mat-icon>
				</button>
				<button mat-icon-button class="delete-button" (click)="openDeleteDialog(task)">
					<mat-icon>
						delete
					</mat-icon>
				</button>
			</div>
		</div>
	</mat-card>
</div>