<div class="container">

	<mat-card class="task-list1">

		<!-- New Task Form -->
		<form class="new-task-form" [formGroup]="form" (ngSubmit)=addTask()>
			<mat-form-field>
				<mat-label>Libellé</mat-label>
				<input matInput placeholder="Ex: Sortir le chien" formControlName="label">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Description</mat-label>
				<textarea matInput formControlName="description"></textarea>
			</mat-form-field>

			<button mat-mini-fab type="submit" [disabled]="form.invalid">
				+
			</button>
		</form>


		<!-- Task List -->
		<mat-list *ngIf="tasks">
			<div mat-subheader>Tâches</div>
			<mat-selection-list>
				<mat-list-option *ngFor="let task of tasks">
					{{ task.label }}
				</mat-list-option>
			</mat-selection-list>
			<!--
			<p>
				Tâches sélectionnée(s): {{tasks.selectedOptions.selected.length}}
			</p>

			 <button mat-mini-fab (click)="editTask()"> Modifier </button> 
			<button mat-mini-fab> Supprimer </button> -->
		</mat-list>
	</mat-card>
</div>