@import '../../app.component.css';

/* Card */
.card {
    width: 50vw;
    min-height: 25vh;
    margin: auto;
    margin-top: 10vh;
}

/* Add-button */
.add-button {

}

/* Bottom-buttons */
.bottom-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Edit button */
.edit-button {
  position: relative;
  margin-left: 490px;
  margin-right: 10px;
}

/* Delete button */
.delete-button {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}