.body {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    position: fixed;
    display: flex;
    justify-content: center;
}

.body__card {
    width: 60%;
    max-height: 65vh;
    margin: 10vh;
}

.toolbar {
    justify-content: space-between;
}

.toolbar__container {
    display: flex;
    width: 420px;
    justify-content: space-around;
}

.toolbar__container__buttons {
    display: flex;
    align-items: center;
}

.toolbar__container__buttons__icons {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .toolbar__container {
        width: 80px;
    }
    .toolbar__container__search {
        display: none;
    }
    .toolbar__container__linkedin-mat-buttons, .toolbar__container__github-mat-buttons {
        min-width: 0px;
        padding: 0;
    }
    .toolbar__container__github-mat-buttons {
        border-radius: 50px;
    }
    .toolbar__container__buttons__text {
        display: none;
    }
    .toolbar__container__buttons__icons {
        margin-right: 0;
    }
}