<mat-toolbar color="primary" class="toolbar">
  <span>My Tasks</span>
  <input type="text" placeholder="Rechercher" matInput [formControl]="searchInput">
  <a mat-raised-button href="https://github.com/co-radu" target="_blank" class="github-button">
    <img src="../assets/icons/github-icon.png" class="github-icon">
    <p class="button-text">GitHub</p>
  </a>
  <a mat-raised-button href="https://linkedin.com/in/corentin-radureau-93289a139" target="_blank"
    class="linkedin-button">
    <img src="../assets/icons/linkedin-icon.png" class="linkedin-icon">
    <p class="button-text">LinkedIn</p>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>