.body {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    position: fixed;
    display: flex;
    justify-content: center;
}

/* Toolbar */
.toolbar {
    justify-content: space-between;
}

/* Buttons */
.buttons_pannel {
    display: flex;
    width: 420px;
    justify-content: space-around;
}

/* GitHub button */
.github_button{
    padding: revert;
}    

.github_icon{
    width: 25px;
    height: 25px;
}

/* LinkedIn button */
.linkedin_button{
    padding: revert;
}

.linkedin_icon{
    width: 25px;
    height: 25px;
}