<mat-toolbar color="primary" class="toolbar">
  <div class="title">
    <span>My Tasks</span>
  </div>
  <div class="buttons_pannel">
    <input type="text" placeholder="Rechercher" matInput [formControl]="searchInput">
    <button mat-raised-button class="github_button" (click)="redirectTo('GitHub')">
      <img src="../assets/icons/github-icon.png" class="github_icon">
      GitHub
    </button>
    <button mat-raised-button class="linkedin_button" (click)="redirectTo('LinkedIn')">
      <img src="../assets/icons/linkedin-icon.webp" class="linkedin_icon">
      LinkedIn
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>